<h2>i'm in App component</h2>
<!-- <app-servers (serverCreated)="onCreateServer($event)"></app-servers> -->

<app-server (serverCreated)="onCreateServer($event)"></app-server>


<h3>Servers list</h3>
    <app-server-list 
    *ngFor="let server of servers"
    [serverEntry]="server">


<li> {{ server.name }} -- {{ server.content }}</li>
</app-server-list>
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<app-warning-alert></app-warning-alert>
<br>
<hr>
<br>
Assignment 2
<app-assignment2></app-assignment2>
<br>
Assignment 3
<app-assignment3></app-assignment3>