<p>This is Server component</p>
<p [ngClass]="{'online': serverStatus === 'online'}" [ngStyle]="{'background-color': getColor()}">
    Server with Id {{ serverId }} is {{ getServerStatus() }}
</p>

<input (input)="onUpdateServerName($event)"/> <br>
<br>
<!-- <input [(ngModel)]="serverName"> <br> -->
<input type="text" #serverName>
<input type="text" #serverContent>
Server Name : {{ serverName }} <br />
<button class="btn btn-primary" (click)="onCreateServer(serverContent)" [disabled]="!allowedNewServer">New Server</button>
<p *ngIf="serverCreated; else noServer">{{ newServerMessage }}</p>
<ng-template #noServer>No server created!</ng-template>

<p [innerText]="allowedNewServer"></p>
<br>


<br>
